{% extends 'base.html' %}

{% block title %}Клиенты - CRM{% endblock %}

{% block content %}
<h1>Список клиентов</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Адрес</th>
                <th>Источник</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.get_source_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}